*.zip
*.log
*.npy
*.xlsx
.idea/
.ipynb_checkpoints/
__pycache__/
pytorch_model/__pycache__/
results/
results2/
data/
checkpoints/
medicaldetectiontoolkit/
medical-detection-toolkit/
pytorch_model/checkpoints/
pytorch_model/output/
pytorch_model/pytorch_model/

